.ImageAccesories{ background-image: url(../images/accesories.png) !important;background-repeat: no-repeat;width: 200px !important; height: 64px !important; }
.ImageDevices{ background-image: url(../images/devices.png) !important;background-repeat: no-repeat;width: 200px !important; height: 64px !important; }
.ImageWarehouse{ background-image: url(../images/warehouse.png) !important;background-repeat: no-repeat;width: 200px !important; height: 64px !important; }
